@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", serif;
}

:root {
	--primary: rgb(121, 99, 240);
	--gray: rgb(154, 158, 167);
	--lightGray: rgb(245, 246, 247);
	--text: rgb(13, 10, 25);
}

body {
	color: var(--text) !important;
}

/* Nav Section Start */

ul li a {
	color: var(--text) !important;
	font-weight: 600 !important;
	font-size: 1rem !important;
}

.NavBar-Button a {
	color: var(--gray) !important;
}

.NavBar-Button a i {
	background-color: var(--lightGray);
	padding: 10px;
	font-size: 1.125rem;
	border-radius: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 991px) {
	.NavBar-Button a {
		color: var(--text) !important;
	}
}

/* Nav Section End */

/* Hero Section Start */

.HeroArea > p {
	color: var(--gray) !important;
	font-size: 1rem;
	line-height: 24px;
}

.HeroArea h1 {
	font-size: 4rem;
}

.HeroButtons {
	margin-top: 40px;
}

.HeroButtons button {
	font-weight: 600;
	font-size: medium;
	padding: 10px 40px;
	border-radius: 10px;

	&:last-child {
		background-color: var(--primary) !important;
		transition: all 0.2s;

		&:hover {
			background-color: rgb(109, 89, 216) !important;
		}
	}
}

.HeroImg {
	margin-top: 90px;
}

/* Hero Section End */

/* Filter Section Start */

.filter-search-section-title {
	line-height: 36px;
	padding-top: 70px;
	padding-bottom: 40px;
}

.vertical-line {
	width: 1px;
	height: 40px;
	background-color: #ede8e9;
}

.filter-search-label {
	color: #9a9ea7;
	line-height: 18px;
	font-size: 12px;
}

select.filter-search-select {
	width: 144px !important;
	border: none;
	line-height: 20px;
	padding-inline-start: 0;
	font-size: 14px !important;
}

select.filter-search-select option {
	padding-inline: 10px !important;
	color: #000 !important;
}

select.filter-search-select:first-child {
	color: #9a9ea7 !important;
}

button.search-button {
	width: 120px;
	height: 46px;
	border-radius: 10px;
	background-color: var(--primary) !important;
	border: none !important;
}

div.filter-search-box {
	width: 100%;
	max-width: 970px;
	padding: 18px;
	margin-inline: auto;
	border-radius: 8px;
	box-shadow: 0 3px 4px rgb(153, 155, 168) !important;
}

/* Filter Section End */
