@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", serif;
}

:root {
	--primary: rgb(121, 99, 240);
	--gray: rgb(154, 158, 167);
	--lightGray: rgb(245, 246, 247);
	--text: rgb(13, 10, 25);
}

body {
	color: var(--text) !important;
}

ul li a {
	color: var(--text) !important;
	font-weight: 600 !important;
	font-size: 1rem !important;
}

.NavBar-Button a {
	color: var(--gray) !important;
}

.NavBar-Button a i {
	background-color: var(--lightGray);
	padding: 10px;
	font-size: 1.125rem;
	border-radius: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 991px) {
	.NavBar-Button a {
		color: var(--text) !important;
	}
}

.HeroArea > p {
	color: var(--gray) !important;
	font-size: 1rem;
	line-height: 24px;
}

.HeroArea h1 {
	font-size: 4rem;
}

.HeroButtons {
	margin-top: 40px;
}

.HeroButtons button {
	font-weight: 600;
	font-size: medium;
	padding: 10px 40px;
	border-radius: 10px;

	&:last-child {
		background-color: var(--primary) !important;
		transition: all 0.2s;

		&:hover {
			background-color: rgb(109, 89, 216) !important;
		}
	}
}

.HeroImg {
	margin-top: 90px;
}
