@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", serif;
}

body {
	color: #0d0a19;
}

ul li a {
	color: #0d0a19 !important;
	font-weight: 600 !important;
	font-size: 1rem !important;
}

.NavBar-Button a {
	color: #9a9ea7 !important;
}

.NavBar-Button a i {
	background-color: rgb(245, 246, 247);
	padding: 10px;
	font-size: 1.125rem;
	border-radius: 10px;
	margin-right: 10px;
}

.HeroArea > p {
	color: #9a9ea7 !important;
	font-size: 1rem;
	line-height: 24px;
}

.HeroArea h1 {
	font-size: 4rem;
}

.HeroButtons button {
	font-weight: 600;
	font-size: medium;
}

// Custom Sass Variables

$theme-colors: map-merge(
	$theme-colors,
	(
		"primary": rgb(121, 99, 240),
		"gray": rgb(154, 158, 167),
		"lightGray": rgb(245, 246, 247),
	)
);

$spacer: 1rem;
$spacers: (
	0: 0,
	0\.5: $spacer * 0.125,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	4\.5: $spacer * 2,
	5: $spacer * 3,
);

@each $key, $value in $spacers {
	.m-#{$key} {
		margin: $value;
	}
	.mx-#{$key} {
		margin-inline: $value;
	}
	.my-#{$key} {
		margin-block: $value;
	}
	.mt-#{$key} {
		margin-top: $value;
	}
	.mb-#{$key} {
		margin-bottom: $value;
	}
	.ml-#{$key} {
		margin-left: $value;
	}
	.mr-#{$key} {
		margin-right: $value;
	}
	.ms-#{$key} {
		margin-left: $value;
	}
	.me-#{$key} {
		margin-right: $value;
	}

	.p-#{$key} {
		padding: $value;
	}
	.px-#{$key} {
		padding-inline: $value;
	}
	.py-#{$key} {
		padding-block: $value;
	}
	.pt-#{$key} {
		padding-top: $value;
	}
	.pb-#{$key} {
		padding-bottom: $value;
	}
	.pl-#{$key} {
		padding-left: $value;
	}
	.pr-#{$key} {
		padding-right: $value;
	}
	.ps-#{$key} {
		padding-left: $value;
	}
	.pe-#{$key} {
		padding-right: $value;
	}
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
